/* Footer styles */
footer {
    bottom: 0;
    left: 0;
    background-color: rgb(247, 247, 160);
   /* position: fixed;*/
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.footer-icon {
    background-color: black;
  
}

.copyright {
    text-align: center; 
    padding: 0 1em; 
}

.copyright p {
    margin: 1em; 
    font-size: 0.9rem; 
    max-width: 100%; 
    word-wrap: break-word; 
}

