.main-section {
    position: relative;
    cursor: pointer;
}

.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    opacity: 0.5;
    border-radius: 2rem;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 1em;
    font-family: "Poppins", sans-serif;
}

.content-box h1 {
    font-size: 2.5rem;
    color: #301934;
    text-align: center;
}

.content-box h2 {
    text-align: center;
}

.content-box p {
    text-align: center;
    font-size: 1.2rem;
    margin: 1em 0;
    max-width: 100%;
    /* Added to prevent overflow */
    word-wrap: break-word;
    /* Added to break long words */
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.btn {
    border: 2px solid transparent;
    border-radius: 2em;
    background-image: linear-gradient(white, white), radial-gradient(circle at bottom right, purple, green);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: all 20ms ease;
}

.btn:hover {
    transform: scale(1.1);

}

.read-more {
    padding: 0.5em 1.5em;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    color: #301934;

}

/*media queries --------------------------------------*/
@media screen and (max-width: 1400px) {
    .content-box {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .content-box {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .content-box {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .content-box {
        width: 95%;
        padding: 0.5em;
    }
}

@media screen and (max-width: 940px) {
    .content-box {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .main-section {
        flex-direction: column;
    }

    .content-box {
        width: 100%;
        position: static;
        transform: none;
        text-align: center;
    }

}

/* home_container-------------------------------------------------------- */
.home_container {
 cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin-top: 1em;
}

.course-offered,
.department-available,
.recruiter {
    margin-left: 3%;
    color: #301934;
}

.accordion-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accordion-item:hover {
    background-color: #f0f0f0;
   
}

.accordion-item.active {
    background-color: #e0e0e0;
}

.accordion-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 2px solid #ccc;
    margin-left: 10px;
}

.accordion-content p::before {
    content: '-- ';
    font-weight: bold;
}

ul {
    list-style: none;
}

.footer-cols {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2rem;
    padding-left: 2%;
    display: grid;

}

.footer-cols li {
    line-height: 1.9rem;
    list-style: circle;

}
.footer-cols li:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.recruitment {
    margin-top: 2rem;
}

/* Media queries for responsiveness footer-cols */
@media screen and (max-width: 1400px) {
    .footer-cols {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .recruitment {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 940px) {
    .footer-cols li {
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .recruiter {
        margin-left: 1rem;
    }

    .recruitment {
        margin-top: 0;
    }
}

/*about-container----------------------------*/
.about-container{
    cursor: default;
    font-family: "Poppins", sans-serif;
}
.about-text,
h4,
h2{
    text-align: center;
}
.vision_mission {
    display: flex;
    padding: 1rem;
    margin: 1rem;
   border-radius: 2rem;
   background-color: rgb(68, 88, 82);
}

.vision {
    border-right: 2px solid rgb(202, 202, 202);
}
.mission {
    border-left: 2px solid rgb(202, 202, 202);
}

.mission li, 
.vision li {
    list-style: circle;
}

.mission,
.vision,
.vision-text,
.mission-text {
    margin-left: 3%;
    color: white;
    line-height: 1.5rem;
}