:root {
    --main-color: linear-gradient(#FF00FF, #BA55D3, #9370DB, #8A2BE2, #9400D3, #9932CC, #8B008B, #800080);
}

header {
    background: var(--main-color);
    width: 100%;
    border-radius: 2rem;
    cursor: pointer;
}

.logo {
    width: 130px;
    padding: 0.5em;
}

.logo:hover {
    transform: scale(1.1);
}

.clgname {
    font-size: 1.9rem;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    transition: color 0.3s;
}

.clgname:hover {
    color: orange;
}

.container {
    margin: 0 auto;
    width:100%;
    max-width: 1200px;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
}
.list_item {
    margin: 2em;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    transition: color 0.3s;
}

.list_item:hover {
    color: orange;
}

.icon {
    color: white;
    margin-right: 1rem;
    margin-left: 1.5rem;
    font-size: 1.5rem !important;
    transition: color 0.3s;
}

.icon:hover {
    color: orange;
}

/*media queries*/
@media screen and (max-width: 1400px) {
    .icon {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 1100px) {
    .icon {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .list_item {
        margin: 1.5rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 940px) {
    .list_item {
        margin: 1.5rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    /* Adjust styles for 768px */
    html {
        font-size: 12px;
    }
    .container-flex {
        flex-direction: column;
    }
    .logo {
        width: 80px;
    }
    .list_item {
        margin: 1rem;
        font-size: 1.2rem;
    }
    .icon {
        margin: 1em 1.5em;
        font-size: 1.5rem;
    }
}

/* Add responsive styles here */
@media screen and (max-width: 600px) {
    .logo {
        width: 80px;
    }
    .list_item {
        margin: 1rem;
        font-size: 1.2rem;
    }
    .icon {
        margin: 0.5rem;
        font-size: 1.2rem !important;
    }
}
